---
interface Props {
  label: string;
  href?: string;
  variant?: 'default' | 'outlined' | 'ghost'|'outlinedInverted';
  class?: string;
  [key: string]: any;
}

const { label, href, variant = 'default', class: className = '', ...rest } = Astro.props as Props;

const baseClasses =
  "font-bold flex items-center justify-center transition-colors cursor-pointer";

const variantClasses: Record<'default' | 'outlined'| 'ghost'| 'outlinedInverted', string> = {
  outlinedInverted: "bg-transparent border-1 border-[var(--color-border)] text-[var(--color-background)] hover:bg-[var(--color-primary)]/10 disabled:opacity-50 disabled:cursor-default disabled:hover:bg-transparent transition-all duration-200",
  default: "bg-[var(--color-primary)] text-[var(--color-background)] hover:opacity-90 disabled:opacity-50 disabled:cursor-default disabled:hover:opacity-50 transition-opacity duration-200",
outlined: "bg-transparent border-1 border-[var(--color-border)] text-[var(--color-primary)] hover:bg-[var(--color-primary)]/10 disabled:opacity-50 disabled:cursor-default disabled:hover:bg-transparent transition-all duration-200",
ghost: "bg-transparent text-[var(--color-primary)] hover:bg-[var(--color-primary)]/10 disabled:opacity-50 disabled:cursor-default disabled:hover:bg-transparent transition-all duration-200"
};

const defaultClasses =
  "z-1 min-w-[100px] sm:min-w-[100px] h-[35px] rounded-full text-[14px] px-4";

  const classes = href
  ? `${baseClasses} ${variantClasses[variant]} ${className}`
  : `${baseClasses} ${variantClasses[variant]} ${defaultClasses} ${className}`;
---
{href ? (
  <a href={href} class={classes} {...rest}>
    <p class="m-0">{label}</p>
  </a>
) : (
  <button class={classes} {...rest}>
    <p class="m-0">{label}</p>
  </button>
)}