---

interface Props {
  label?: string;
  type?: 'text' | 'email' | 'password' | 'number' | 'tel' | 'url' | 'search' | 'date' | 'time' | 'datetime-local' | 'month' | 'week' | 'color';
  placeholder?: string;
  name?: string;
  required?: boolean;
  class?: string;
  [key: string]: any;
}

const { 
  label, 
  type = 'text', 
  placeholder, 
  name,
  required = false,
  class: className = '', 
  ...rest 
} = Astro.props as Props;

const inputClasses = `bg-white  rounded-lg px-4 py-2 w-full shadow-sm focus:outline-none focus:ring-2 focus:ring-[var(--color-primary)] focus:border-transparent focus:shadow-md transition-all ${className}`;
---

<div class="flex flex-col gap-2">
  {label && (
    <label class="text-sm font-regular text-(--color-foreground) text-left">
      {label}
      {required && <span class="text-(--color-secondary) justify-left">*</span>}
    </label>
  )}
  <input
    type={type}
    placeholder={placeholder}
    name={name}
    required={required}
    class={inputClasses}
    {...rest}
  />
</div>